* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: white;
	font-family: "Open Sans", sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

/* nawigacja */

nav {
	background-color: lightcyan;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.burger-icon {
	display: block;
	margin-left: auto;
	padding: 0 30px;
	line-height: 60px;
	border: none;
	background: none;
	font-size: 36px;
	cursor: pointer;
}

.nav-items {
	display: none;
}

/* header */

.header {
	position: relative;
	height: 360px;
	background-image: url("../img/shaain-ibrahim-k-zTi90rbwE-unsplash.jpg");
	background-position: bottom;
	background-size: cover;
}

.hero-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.hero-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.hero-text span {
	color: orange;
	text-transform: uppercase;
}

.hero-text p {
	font-size: 14px;
}

/* main */

.about-us {
	background-color: green;
	margin: 40px auto;
	height: 300px;
}

.about-us-info {
	margin-top: 20px;
	font-size: 26px;
}
.section-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

@media (min-width: 592px) {
	.nav-items {
		display: block;
	}
	.nav-items a {
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 22px;
		padding: 0 30px;
	}
	.burger-icon {
		display: none;
	}
}

@media (min-width: 768px) {
	.hero-text {
		font-size: 24px;
	}

	.hero-text p {
		font-size: 18px;
	}
}
